
body{
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(3, 36, 3) ;

}

#img-container{
  width: 960px;
  text-align: center;

}

#img-container img{
width: 250px;

}
button{
  display: none;
}
#results canvas {
width: 800px;
}

#img-called1, #img-called2, #img-called3 {
  border: black;
  border-radius: 10px;
  margin: 10px;
}